<div class="bucket">
  <div>
    <button class="btn btn-danger" (click)="deleteMe()">x</button>
    <!-- <button class="btn btn-success" (click)="addCourse()">cours</button> -->
    <span><input type="number" class="btn pupils" [(ngModel)]="courseBucket.nbPupils" (change)="groupUpdated()"/>eleves</span>
  </div>

  <span class="" *ngFor="let course of courseBucket.courseList">
    <button class="btn btn-primary" data-toggle="button" aria-pressed="false" (click)="removeCourse(course)"
    [ngStyle]="getStyle(course)">{{course.shortName}}</button>
  </span>
</div>
